{% extends 'base.html' %}

{% block content %}
     <section class="bg-primary_black min-h-screen flex justify-center py-10">
    <div class="p-8 w-10/12 relative">
        <h2 class="text-gray-200 text-2xl font-medium">
            Series Favoritas
        </h2>
        <div class="flex justify-center items-center min-w-full movie_list">
            {% for series in series_favoritas %}
                <div class="h-40 m-4 bg-blue-500 flex-shrink-0 rounded-md cursor-pointer w-40 movie-item">
                    <img src="{{ series.image }}" class="w-full h-full" alt="">
                    <div class="movie-overlay hidden">
                        <a href="{{ url_for('play_serie', serie_id=series.id) }}" class="play-button">
                            <ion-icon name="play"></ion-icon>
                        </a>
                        <a href="{{ url_for('serie_detail', serie_id=series.id) }}" class="info-button" title="Más Info">
                            <ion-icon name="information-circle-outline"></ion-icon>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h2 class="text-gray-200 text-2xl font-medium mt-8">
            Películas Favoritas
        </h2>
        <div class="flex justify-center items-center min-w-full movie_list">
            {% for movie in peliculas_favoritas %}
                <div class="h-40 m-4 bg-blue-500 flex-shrink-0 rounded-md cursor-pointer w-40 movie-item">
                    <img src="{{ movie.image }}" class="w-full h-full" alt="">
                    <div class="movie-overlay hidden">
                        <a href="{{ url_for('play_movie', movie_id=movie.id) }}" class="play-button">
                            <ion-icon name="play"></ion-icon>
                        </a>
                        <a href="{{ url_for('movie_detail', movie_id=movie.id) }}" class="info-button" title="Más Info">
                            <ion-icon name="information-circle-outline"></ion-icon>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

    <style>
        .movie-item {
            position: relative;
            overflow: hidden;
        }

        .movie-item:hover .movie-overlay {
            opacity: 1;
          }

        .movie-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .movie-overlay a {
            color: #fff;
            font-size: 24px;
            margin: 0 10px;
            text-decoration: none;
            transition: transform 0.3s ease;
        }

        .movie-overlay a:hover {
            transform: scale(1.2);
        }
    </style>
{% endblock %}
