<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .error-message {
            color: red;
            margin-bottom: 10px;
        }

        .success-message {
            color: green;
            margin-bottom: 10px;
        }

        body {
            margin: 0;
            padding: 0;
        }

        .full-screen {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.75);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    </style>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</head>
<body>
    <nav class="flex justify-between items-center py-3 px-4 fixed w-full z-50">
        <div class="w-6/12">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='assets/netflix.png') }}" alt="logo" class="w-5/12 md:w-2/12">
            </a>
        </div>

        <div>
            <a href="{{ url_for('login') }}" class="bg-primary_red py-1 px-3 text-white md:text-lg rounded-md">
                Iniciar sesión
            </a>
        </div>
    </nav>
    <header class="full-screen showcase border-gray-600 border-b-8 bg-no-repeat" style="background-image: url('{{ url_for('static', filename='assets/background_netflix.jpg') }}');">
        <div class="z-10 min-h-full py-32 md:py-0 text-gray-100 w-6/12  flex items-center flex-col">
            <form class="bg-black bg-opacity-70 min-h-full py-8 px-4 w-8/12 rounded-md" method="POST" action="{{ url_for('signup') }}" onsubmit="return validateForm()">
                {{ form.csrf_token }}
                <h1 class="text-4xl font-semibold text-center">
                    Suscríbete
                </h1>
                <div class="text-center my-4">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == 'error' %}
                                    <p class="error-message">{{ message }}</p>
                                {% elif category == 'success' %}
                                    <p class="success-message">{{ message }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div>
                    <label class="text-lg font-medium mb-3">
                        Email
                    </label>
                    <input class="p-2 bg-gray-200 rounded-sm text-gray-900 outline-none block w-full" type="email" id="id_email" name="email" placeholder="Tu correo electrónico" value="{{ form.email.data }}" required>
                    <p id="email-error" class="error-message"></p>
                </div>
                <div class="my-3">
                    <label class="text-lg font-medium mb-3">
                        Nombre de usuario
                    </label>
                    <input class="p-2 bg-gray-200 rounded-sm text-gray-900 outline-none block w-full" type="text" id="id_username" name="username" placeholder="Nombre de usuario" value="{{ form.username.data }}" required>
                    <p id="username-error" class="error-message"></p>
                </div>
                <div class="my-3">
                    <label class="text-lg font-medium mb-3">
                        Contraseña
                    </label>
                    <input class="p-2 bg-gray-200 rounded-sm text-gray-900 outline-none block w-full" type="password" id="id_password" name="password" placeholder="Contraseña" required>
                    <p id="password-error" class="error-message"></p>
                </div>
                <div class="my-3">
                    <label class="text-lg font-medium mb-3">
                        Confirmar contraseña
                    </label>
                    <input class="p-2 bg-gray-200 rounded-sm text-gray-900 outline-none block w-full" type="password" id="id_password2" name="password2" placeholder="Contraseña" required>
                    <p id="password2-error" class="error-message"></p>
                </div>
                <div class="flex justify-center items-center">
                    <button class="py-2 px-4 bg-primary_red text-gray-100 font-medium text-lg rounded-md" type="submit">
                        Suscríbete
                    </button>
                </div>

                <div class="text-center mt-4">
                    <p>
                        ¿Ya tienes una cuenta? <a href="{{ url_for('login') }}" class="text-blue-600">Iniciar sesión</a>
                    </p>
                </div>
            </form>
            <div class="flex justify-center items-center mt-4">
                <a href="{{ url_for('register') }}" class="text-blue-600">Registrarse como administrador</a>
            </div>
        </div>
    </header>
    <script>
        function validateForm() {
            var email = document.getElementById("id_email").value;
            var username = document.getElementById("id_username").value;
            var password = document.getElementById("id_password").value;
            var password2 = document.getElementById("id_password2").value;

            var emailError = document.getElementById("email-error");
            var usernameError = document.getElementById("username-error");
            var passwordError = document.getElementById("password-error");
            var password2Error = document.getElementById("password2-error");

            emailError.innerHTML = "";
            usernameError.innerHTML = "";
            passwordError.innerHTML = "";
            password2Error.innerHTML = "";

            var isValid = true;

            if (!email) {
                emailError.innerHTML = "Por favor, completa el campo de correo electrónico";
                isValid = false;
            }

            if (!username) {
                usernameError.innerHTML = "Por favor, completa el campo de nombre de usuario";
                isValid = false;
            }

            if (!password) {
                passwordError.innerHTML = "Por favor, completa el campo de contraseña";
                isValid = false;
            }

            if (!password2) {
                password2Error.innerHTML = "Por favor, completa el campo de confirmar contraseña";
                isValid = false;
            }

            if (password !== password2) {
                password2Error.innerHTML = "Las contraseñas no coinciden";
                isValid = false;
            }

            return isValid;
        }
    </script>
</body>
</html>
